<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gamerzdisease.com.flashcards" >
    <uses-sdk android:minSdkVersion="15" />
    <application
        android:name="gamerzdisease.com.flashcards.deck.DeckHolder"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="gamerzdisease.com.flashcards.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.NewDeckActivity"
            android:label="@string/decks"
            android:parentActivityName="gamerzdisease.com.flashcards.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.MainActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.CreateCardActivity"
            android:label="@string/options"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="gamerzdisease.com.flashcards.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.OptionsActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.OptionsActivity"
            android:label="@string/deck_list"
            android:parentActivityName="gamerzdisease.com.flashcards.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.MainActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.EditDeckTableActivity"
            android:label="@string/options"
            android:parentActivityName="gamerzdisease.com.flashcards.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.OptionsActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.EditCardActivity"
            android:label="@string/card_table"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="gamerzdisease.com.flashcards.EditDeckTableActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.EditDeckTableActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.StudyDeckActivity"
            android:label="@string/options"
            android:parentActivityName="gamerzdisease.com.flashcards.OptionsActivity"
            android:noHistory="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.OptionsActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.GradeActivity"
            android:label="@string/options"
            android:parentActivityName="gamerzdisease.com.flashcards.OptionsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="gamerzdisease.com.flashcards.OptionsActivity"/>
        </activity>

        <activity
            android:name="gamerzdisease.com.flashcards.DeckScoreActivity"
            android:label="@string/options">
        </activity>

    </application>

</manifest>
